@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- ------- --- */
/* ---- GLOBALS --- */
/* ---- ------- --- */
:root{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-ivory;
}

/* ---- ---------- ---- */
/* ---- TYPOGRAPHY ---- */
/* ---- ---------- ---- */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy-extrabold.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}